[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gMOIP"]
	path = gMOIP
	url = https://github.com/relund/gmoip
	shallow = true
	registered = true
[submodule "MDP2"]
	path = MDP2
	url = https://github.com/relund/mdp
	shallow = true
	registered = true
